@import styles/variables

.card
  display: flex
  width: 1200px
  height: 500px
  flex-direction: column
  background-color: $c-light
  border-radius: 16px
  padding: 1rem 1.4rem 0.5rem 1rem

  .header
    display: flex
    align-items: center
    justify-content: space-between
    margin-left: 508px
    margin-top: 10px
    color: #0D54A5
    font-family: 'TT Norms'
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 24px

  .country
    display: flex
    align-items: center
    justify-content: space-between
    margin-left: 344px
    padding-top: 16px
    font-family: 'TT Norms'
    font-weight: 700

  .country p
    display: flex
    align-items: center
    justify-content: space-between
    font-weight: 400
    font-size: 13px
    background: #FFFFFF
    margin-left: 31px

  .contact
    display: flex
    align-items: center
    justify-content: space-between
    margin-left: 465px
    margin-top: 10px
    color: #0D54A5
    font-family: 'TT Norms'
    font-weight: 700

  .contact p
    display: flex
    align-items: center
    justify-content: space-between
    margin-left: -138px
    padding-top: 12px
    font-family: 'TT Norms'
    font-weight: 700
    color: #031121

  .wrapper
    display: flex
    margin-left: 413px
    font-family: 'TT Norms'
    font-style: normal
    font-weight: 700
    font-size: 18px
    color: #0D54A5

  .wrapper p
    display: flex
    font-family: "TT Norms"
    font-style: normal
    font-weight: 700
    font-size: 18px
    color: #031121
    margin: 17px
    gap: 12px
    margin-left: -41px

  .mobile
    display: flex
    margin-left: 385px
    margin-top: 35px
    font-family: 'TT Norms'
    font-style: normal
    font-weight: 700
    font-size: 18px
    color: #0D54A5

  .mobile p
    display: flex
    margin-top: 35px
    font-family: 'TT Norms'
    font-style: normal
    font-weight: 700
    font-size: 18px
    color: #031121
    gap: 30px
  .images
    display: flex
    width: 100%
    align-items: center
    justify-content: space-between
    div
      width: 82px
      height: 82px
      border-radius: 50%
